<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="../static/stylesheets/custom.css">
    <title>{% block title %}base{% endblock %}</title>
</head>
<body>
    <header class="header" style="background-image: url(../static/image/);">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/">撲克世界</a>
                <div class="collapse navbar-collapse justify-content-end">
                    {% if session.get('username') %}
                        <span class="navbar-text me-3">您好，{{ session['username'] }}</span>
                        <span class="navbar-text me-3">當前餘額，{{ session.get('money', 'qwe') }}</span>
                        <a href="/logout" class="btn btn-danger">登出</a>
                    {% else %}
                        <a href="/register" class="btn btn-primary me-2">註冊</a>
                        <a href="/login" class="btn btn-success">登入</a>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="overlay">
            {% block content %}
            {% endblock %}
        </div>
        <!--
        <footer class="footer bg-light p-2">
            <div class="container d-flex justify-content-between align-items-center">
                
                <div class="footer-left">
                    <div class="fw-bold border-bottom border-secondary">
                        撲克世界 Poker World
                    </div>輕鬆
                </div>


            </div>
        </footer>
        -->
    </header>
    {% block content1 %}
    {% endblock %}
</body>
</html>