{% extends "base.html" %}

{% block title %}首頁{% endblock %}

{% block content %}
<!-- 增加金額按鈕區塊
<div class="container text-center mt-5">

</div>
 -->
<!-- 圖片按鈕區塊 -->
<div class="container text-center mt-5">
    <div class="row">
        <div class="col-md-3">
            <a href="/blackjackLobby" target="_blank">
                <img src="../static/image/1434.png" alt="Button 1" class="button-image">
            </a>
            <p>21點</p>
        </div>
        <div class="col-md-3">
            <a href="https://example.com/page2" target="_blank">
                <img src="/static/images/image2.png" alt="Button 2" class="button-image">
            </a>
            <p>網站 2</p>
        </div>
        <div class="col-md-3">
            <a href="https://example.com/page3" target="_blank">
                <img src="/static/images/image3.png" alt="Button 3" class="button-image">
            </a>
            <p>網站 3</p>
        </div>
        <div class="col-md-3">
            <a href="https://example.com/page4" target="_blank">
                <img src="/static/images/image4.png" alt="Button 4" class="button-image">
            </a>
            <p>網站 4</p>
        </div>
    </div>
</div>

<script>
     

    
    
</script>
{% endblock %}
